<!DOCTYPE html>
<html ng-app="node">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
.question_box{
  //border: 1px solid black;
  padding: 10px;
  margin:10px;
  box-shadow: 1px 1px 1px 2px rgba(10,10,10,0.15);
}
.num{
  width: 50%;
}
</style>
<link href="stylesheets/style.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="javascripts/discussion.js"></script>
<body ng-controller="discussion" style="background-image: url('http://www.template-joomspirit.com/template-joomla/template-101/images/background/light-blue-NR.jpg'); background-size : cover;">
  <h1 style="font-family:Cambria;">Discussion Forum</h1>
  <!-- <div class="form-group">
    <button class="btn btn-default pull-right" ng-click= "">Add</button>
  </div> -->
  <div class="form-group col-md-6">
    <label for="pwd" style="color:black; font-size: 1.2em;">Your Question :</label>
    <textarea class="form-control" ng-model="question"></textarea>
    <br>
    <button ng-click="post()" class="btn btn-success pull-right">POST</button>
    <br>
    <br>
    <br>
    <br>

    <input ng-model= "search_text" placeholder="Search for question" class="form-control num">
    <br>
    <br>
    <h2 style="font-weight:bold; font-size: 1.5em;">Posted Questions</h2>
      <div  ng-repeat=" x in questions | filter : search_text" class="question_box">
        <p style="font-weight:bold; font-family:Cambria; font-size: 1.4em;">  {{x.question}} </p>
        <p style="font-style:italic">  Posted By :{{x.username}} </p>
        <p ><a style="text-decoration :none; cursor: pointer"ng-click=read(x.questionid)>View</a></p>
      </div>


  </div>

</body>
</html>
