doctype html
html(ng-app='node')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet', media='screen')

  body(ng-controller='mainController')
    block content
